@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Sacramento, sans-serif;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#cover-text, #cover-text h2 {
    color: #fff;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#cover-text {
    font-size: 330%;
    font-family: Sacramento, sans-serif;
    width: 70%px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%)
}

#hero-overflow {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/dreamcatcher11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* what is a dreamcatcher section */

#dreamcatcher-what {
    height: 900px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
    text-align: right;
}

.left-about-heading h2 {
    font-size: 300%;
    margin-bottom: 30px;
    text-align: right;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
}

.right-about-heading h2 {
    font-size: 300%;
    margin-bottom: 30px;
    text-align: left;
}