@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Sacramento, sans-serif;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-overflow {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/dreamcatcher11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}